body {
  /* background: #333; */
  background: #333;
}

#header{
  position: sticky;
  top: 0;
  background-color: #333;
  /* opacity: .8; */
  z-index: 10;
  border-bottom: 3px solid #008ed6;
  /* height: 700px; */
}

.link-container{
  display: flex;
  align-items: center;
}

.sm-link{
  font-size: 18px;
}

.navbar{
  border-bottom: 3px solid #008ed6;
  opacity: .8;
}

#about-section {
  background: url("./images//about4.jpg");
  background-repeat: no;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

.about-inner{
  padding-top: 150px;
}

.dark-overlay {
  width: 100%;
  min-height: 700px;
  background-color: rgba(0, 0, 0, 0.7);
}

#projects-section{
  background-color: #333;
}

#projects-sectionT{
  background-color: #333;
  padding-bottom: 40px;
}

#projects-header{
  color: #f6f6f6;
  text-align: center;
  padding: 25px 0 25px 0;
}

#project-cards-container{
  display: flex;
  justify-content: center;
  width: 90%;
}

.card-btn-container{
  display: flex;
  flex-direction: column;
}

.card-btn{
  border: 1px solid #333;
  background-color: #333;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
}

.card-body{
  background-color: #222;
  color: #ebebeb;
}

.card-text{
  color: #999;
}

#sap-btn-container{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#sap-link{
  color: #999;
}

#sap-link:hover{
  text-decoration: none;
  color: #ebebeb;
}

#sap-btn{
  background-color: #222;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

#contact-section{
  background-color: #222;
}

.contact-icon{
  font-size: 32px;
}

.contact-link{
  color: #fff;
}

.contact-link:hover{
  color: #999;
  text-decoration: none;
}

.ss:hover{
  cursor: pointer;
}

.card{
  border: none;
}

.card-link{
  color: #999;
}

.card-link:hover{
  color: #f6f6f6;
}

@media screen and (max-width: 995px) { 
  .link-container{
    display: flex;
    justify-content: center;
  }
  #about-header {
    font-size: 40px;
  }
  .card{
    margin: 15px 0 15px 0;
  }
}